body {
  background-color: #e8e4e1;
}

hr {
  border-style: dotted none none none;
  border-width:  10px;
  border-color: white;
  width: 50px;
}

h1 {
  color: #ec823a;
}

h3 {
  color: #ec823a;
}
